
.header {
  background-color: #375686;
  padding: 10px;
  padding-right: 20px;

  @media (max-width: 350px) {
    flex-direction: column !important;
  }

  a {
    color: white;
    &:hover,
    &:active,
    &:focus {
      color: #ededed;
    }
  }
}

.logo {
  height: 60px;
}

.login-btn {
  background-color: #5C7E10 !important;
  color: white !important;
  border-radius: 5px;
}

.separator {
  border: 1px solid white;
  margin-right: 15px
}

.user-profile {

  img {
    border-radius: 25px;
    margin-right: 5px;
    width: 50px;
  }

  span {
    color: white;
  }

  margin-right: 15px;
}